{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-thumbnail" alt="clothes">
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        Ціна: {{ product.price }}
                    </p>
                </div>
                <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#description" aria-controls="home" role="tab" data-toggle="tab">
                                Опис товару
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#delivery" aria-controls="profile" role="tab" data-toggle="tab">
                                Доставка
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                Залишити відгук
                            </a>
                        </li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content product-description-tabs">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            {{ product.description }}
                            <div>
                                <div class="form-group">
                                    <form action="/order/" target="_blank">
                                        <button type="submit" id="submit-btn" class="btn btn-success btn-buy"
                                                data-product_id = "{{ product_id }}"
                                                data-name = "{{ product.name }}"
                                                data-price = "{{ product.price }}"
                                        >Замовити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="delivery">
                            <h5>Тут будуть описані умови доставки</h5>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <button type="submit" class="btn btn-success btn-feedback">
                                {% if user.is_authenticated %}
                                <a href="feedback/">Хочу залишити відгук про товар</a>
                                {% else %}
                                <a href="register/">Хочу залишити відгук про товар</a>
                                {% endif %}
                            </button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}